.postItemContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.ingredients {
  flex: 1;
  border-right: 1px solid black;
}

.instructions {
  flex: 3;
  padding-left: 2rem
}

.postHeader {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}

.reviews h2 {
  text-align: center;
}

.review {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  margin: 2rem;
}
.reviewHeader {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid black;
}
.reviewHeader p {
  padding: 5px; 
}

.reviewHeader2 p {
  padding-left: 5px;
}