.container {
  background-color: whitesmoke;
  padding: 2rem;
  border: 2px solid black;
  border-radius: 15px;
}

.postItemContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.ingredients2 {
  flex: 1;
  border-right: 1px solid black;
}

.instructions2 {
  flex: 3;
  padding-left: 2rem
}

.postHeader {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}

.reviews h2 {
  text-align: center;
  color: white;
}

.review {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 5px;
  margin: 2rem;
  background-color: antiquewhite;
}
.reviewHeader {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid black;
}
.reviewHeader p {
  padding: 5px; 
}

.reviewHeader2 p {
  padding-left: 5px;
}
.reviewStars {
  display: flex;
  align-items: center;
}

.createReviewContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.createReviewTextAndStar {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.alreadyVoted {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.reviewRatingBottom {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
}

.deleteReview {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.deleteReview p {
  padding: 0;
  margin: 1rem
}