/* App.css */

/* Content wrapper */
.content {
  display: flex;
}

/* Sidebar styles */
.sidebar {
  color: #fff;
  padding: 20px;
  margin-top: 2px;
  border-right: 1px solid black;
}

.sidebarButton {
  background-color: #ff6b6b;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
  text-align: center;
}

/* Header styles */
.header {
  background-color: #e4e1ec;
  color: #fff;
  padding: 10px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}
.headerLoggedIn {
  display: flex;
  align-items: center;
}
.headerLoggedIn p {
  color: black;
  text-decoration: underline;
  margin-right: 10px; /* Adjust the spacing as needed */
  justify-content: center;
  align-items: center;
}

/* Main body styles */
.main {
  flex: 1;
  padding: 20px;
  min-height: 500px;
}
