/* App.css */

/* Content wrapper */
.content {
  display: flex;
}

/* Sidebar styles */
.sidebar {
  background-color: #E3E4DB;
  color: #fff;
  padding: 20px;
  margin-top: 2px;
  border-right: 1px solid #ccc;
}

/* Header styles */
.header {
  background-color: #9CBFA7;
  color: #fff;
  padding: 10px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}
.headerLoggedIn {
  display: flex;
  align-items: center;
}
.headerLoggedIn p {
  color: white;
  margin-right: 10px; /* Adjust the spacing as needed */
  justify-content: center;
  align-items: center;
}

/* Main body styles */
.main {
  flex: 1;
  padding: 20px;
  min-height: 500px;
}
