:root {
  /* Define the font family */
  --font-family: 'Roboto', sans-serif;
}

/* Import Roboto font */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');
}


/* Apply the font family to elements */
body {
  font-family: var(--font-family);
  margin: 0; /* Remove default margin */
  background: linear-gradient(to bottom right, #64b3f4, #c2e59c);
  /* Fallback color */
  background-color: #64b3f4; 
  /* Additional styles */
}
