/* login.css */

.login {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #e1f6ff;
  animation: fadeInUp 1.5s ease forwards; /* Apply animation */
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.login h1 {
  text-align: center;
  margin-bottom: 20px;
}

.login form div {
  margin-bottom: 15px;
}

.login form label {
  display: block;
  margin-bottom: 5px;
}

.login form input {
  width: calc(100% - 10px);
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login form button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

.login form button:hover {
  background-color: #0056b3;
}
